# Django
*.pyc
*__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
*.sqlite3
*.db
*.mdb

# Static files
/staticfiles/
/media/

# Environment variables
.env
.venv
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.coverage
.pytest_cache/

# PyInstaller
build/
dist/

# Jupyter Notebook
.ipynb_checkpoints

# celery
celerybeat-schedule.*